name: Publish to pub.dev

on:
  push:
    tags:
      - 'floating_palette_annotations-v[0-9]+.[0-9]+.[0-9]+*'
      - 'floating_palette_generator-v[0-9]+.[0-9]+.[0-9]+*'
      - 'floating_palette-v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    with:
      working-directory: ${{ contains(github.ref_name, 'floating_palette_annotations') && 'floating_palette_annotations' || contains(github.ref_name, 'floating_palette_generator') && 'floating_palette_generator' || 'floating_palette' }}
